.card {
  background-color: #393e46;
  margin: 10px;
  border-color: #eeeeee;
}

h2 {
  color: #76ead7;
  font-size: xx-large;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
}

.title {
  color: #76ead7;
  font-size: 20px;
  font-family: "Hind Siliguri", sans-serif;
}

.button {
  background-color: #c4fb6d;
  color: #393e46;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
}
#dropdownMenuButton {
  color: #76ead7;
  background-color: #393e46;
  font-family: inherit;
  font-size: inherit;
  border-radius: 8px;
}
p {
  font-size: 1rem;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.breadcrumb {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 0.15rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #ecf0f1;
  border-radius: 0.25rem;
}
.input-group{
  width:50%;
}
.GoogleLoginButton {
  text-align: center;
}
